/project_1/data.csv
/project_1/tutorial/
/.idea/
/project_1/q8_pipeline_cache/
/project_1/glove.6B/
/project_1/glove.6B.100d.txt.word2vec
/project_1/glove.6B.zip
/project_1/.ipynb_checkpoints/
/project_2/flowers_features_and_labels.npz
/project_2/q14_pipeline_cache/
/project_2/q18_cache/
/project_2/.ipynb_checkpoints/
/project_2/flower_photos/
